<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <title>BMI Calculator</title>
    </head>
    <body>
        <section class="input">
            <h1>Welcome to the BMI Calculator!</h1>
            <form class="form">
                <label class="large"><strong>Height:</strong></label><br>
                <label for="heightfeet" class="small">Feet:</label><br>
                <input type="text"><br>
                <label for="heightinches" class="small">Inches:</label><br>
                <input type="text"><br>
                <label for="weight" class="large"><strong>Weight </strong>(in pounds):</label><br>
                <input type="text"><br><br>
                <input type="submit" value="Calculate BMI"><br><br>
            </form>
        </section>
    </body>
</html>